@keyframes rainbow-border {
    0% {
      border-color: red;
    }
    14% {
      border-color: orange;
    }
    28% {
      border-color: yellow;
    }
    42% {
      border-color: green;
    }
    57% {
      border-color: blue;
    }
    71% {
      border-color: indigo;
    }
    85% {
      border-color: violet;
    }
    100% {
      border-color: red;
    }
  }
  
  .rainbow-border-effect {
    border: 4px solid; /* Đặt độ dày của viền */
    border-color: red; /* Màu viền ban đầu */
    animation: rainbow-border 4s linear infinite;
  }
  